{% extends "base.html" %} {% block head %}
<title>About</title>
<style>
    a:link {
        color: rgb(255, 255, 255);
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: rgb(255, 255, 255);
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: rgb(243, 194, 255);
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: rgb(110, 68, 105);
        background-color: transparent;
        text-decoration: underline;
    }

    .info {
        font-size: 20px;
        font-family: "Arial";
        padding: 15px;
    }

    .info>* {
        text-align: center;
    }
</style>
{% endblock %} {% block body %}
<div class="container">
    <div class="title">
        <h1>About us</h1>
    </div>
    <div class="info">
        <p>
            We, at SSD, are a group of highly passionate engineering students,
            committed to deliver the highest quality value based hospital management systems,
            for hospital chains and networks in the country and worldwide. With
            a team of youthful tech enthusiasts who want to leave their mark on
            the world, SSD is your one stop solution for secure and
            transparent health management services.
        </p>
    </div>
</div>

{% endblock %}